name: Test
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    - cron: '0 12 * * 1'
jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-22.04, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - uses: coursier/cache-action@v8
      - uses: coursier/setup-action@v2
        with:
          jvm: temurin:11
      - name: Run tests
        run: sbt scalafmtSbtCheck scalafmtCheckAll test scripted
